body {
    background-image: url('https://t3.ftcdn.net/jpg/02/64/92/28/360_F_264922838_NErJEovZiP9MTa49apqL1Vs3f88ZT8Dg.jpg');
    background-repeat: no-repeat;
    background-size:100% ;
    color: yellow;
   }
   h4{
    color: darkgoldenrod;
   }
   button{
    background-color: brown;
   }

   h1{
    color: black;
   }
   .button{
    background-color: brown;
    size: 20px;
   }