body {
    background-image: url(https://img.freepik.com/free-photo/vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette_1258-28516.jpg?size=626&ext=jpg&ga=GA1.1.1565281311.1704251715&semt=ais);
    background-repeat: no-repeat;
    background-size:100% ;
   }
   h1{
    color:antiquewhite;
   }